@page
@model TaskMAN.Pages.TaskEntries.IndexModel

@{
    ViewData["Title"] = "Index";
}




<table class="table">
    <thead>
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.TaskEntry[0].Description)-->
                <p>KUVAUS</p>
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.TaskEntry[0].CreatedDate)-->
                <p>PVM</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TaskEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Muokkaa</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Tiedot</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h2>
    <a asp-page="Create" class="btn btn-primary">Lisää tehtävä</a>
</h2>